<section class="about">
  <div class="about-header {{condensed_class}}">
    <div class="about-title">
      <a href="{{ " /" | relative_url}}">
        {% if site.linguica.portfolio_image_dark and site.linguica.dark_mode %}
          <img
            class="light"
            src="{{site.baseurl }}/{{ site.linguica.portfolio_image }}"
            alt="{{ site.linguica.name }}"
          >
          <img
            class="dark"
            src="{{site.baseurl }}/{{ site.linguica.portfolio_image_dark }}"
            alt="{{ site.linguica.name }}"
          >
        {% else %}
          <img src="{{site.baseurl }}/{{ site.linguica.portfolio_image }}" alt="{{ site.linguica.name }}">
        {% endif %}
      </a>
      <h2 id="title">
        <a href="{{ " /" | relative_url }}">{{ site.linguica.name }}</a>
      </h2>
    </div>
    {%- if site.linguica.tagline -%}
      <p class="tagline">{{ site.linguica.tagline }}</p>
    {%- endif -%}
  </div>
  {% capture footer %}
  {%- if site.linguica.social_links != '' -%}
  <ul class="social about-footer {{condensed_class}}">
    {%- if site.linguica.social_links.github -%}
    <a href="https://github.com/{{ site.linguica.social_links.github }}" target="_blank">
      <li>
        <i class="icon-github-circled"></i>
      </li>
    </a>
    {%- endif -%}
    {%- if site.linguica.social_links.gitlab -%}
    <a href="https://gitlab.com/{{ site.linguica.social_links.gitlab }}" target="_blank">
      <li>
        <i class="icon-gitlab"></i>
      </li>
    </a>
    {%- endif -%}
    {%- if site.linguica.social_links.linkedIn -%}
    <a href="https://www.linkedin.com/{{ site.linguica.social_links.linkedIn }}" target="_blank">
      <li>
        <i class="icon-linkedin-squared"></i>
      </li>
    </a>
    {%- endif -%}
    {%- if site.linguica.social_links.twitter -%}
    <a href="https://twitter.com/{{ site.linguica.social_links.twitter }}" target="_blank">
      <li>
        <i class="icon-twitter-squared"></i>
      </li>
    </a>
    {%- endif -%}
    {%- if site.linguica.social_links.instagram -%}
    <a href="https://instagram.com/{{ site.linguica.social_links.instagram }}" target="_blank">
      <li>
        <i class="icon-instagram"></i>
      </li>
    </a>
    {%- endif -%}
    {%- if site.linguica.social_links.facebook -%}
    <a href="https://facebook.com/{{ site.linguica.social_links.facebook }}" target="_blank">
      <li>
        <i class="icon-facebook-squared"></i>
      </li>
    </a>
    {%- endif -%}
    {%- if site.linguica.social_links.youtube -%}
    <a href="https://youtube.com/{{ site.linguica.social_links.youtube }}" target="_blank">
      <li>
        <i class="icon-youtube"></i>
      </li>
    </a>
    {%- endif -%}
    {%- if site.linguica.social_links.pinterest -%}
    <a href="https://pinterest.com/{{ site.linguica.social_links.pinterest }}" target="_blank">
      <li>
        <i class="icon-pinterest-squared"></i>
      </li>
    </a>
    {%- endif -%}
    {%- if site.linguica.social_links.dribbble -%}
    <a href="https://dribbble.com/{{ site.linguica.social_links.dribbble }}" target="_blank">
      <li>
        <i class="icon-dribbble"></i>
      </li>
    </a>
    {%- endif -%}
    {%- if site.linguica.social_links.flickr -%}
    <a href="https://flickr.com/{{ site.linguica.social_links.flickr }}" target="_blank">
      <li>
        <i class="icon-flickr"></i>
      </li>
    </a>
    {%- endif -%}
    {%- if site.linguica.social_links.telegram -%}
    <a href=" https://t.me/{{ site.linguica.social_links.telegram }}" target="_blank">
      <li>
        <i class="icon-telegram"></i>
      </li>
    </a>
    {%- endif -%}
    {%- if site.linguica.social_links.soundcloud -%}
    <a href=" https://soundcloud.com/{{ site.linguica.social_links.soundcloud }}" target="_blank">
      <li>
        <i class="icon-soundcloud"></i>
      </li>
    </a>
    {%- endif -%}
    {%- if site.linguica.social_links.email -%}
    <a href="mailto:{{ site.linguica.social_links.email }}" target="_blank">
      <li>
        <i class="icon-mail-alt"></i>
      </li>
    </a>
    {%- endif -%}
    {%- if site.linguica.social_links.stackoverflow -%}
    <a href="https://stackoverflow.com/users/{{ site.linguica.social_links.stackoverflow }}" target="_blank">
      <li>
        <i class="icon-stack-overflow"></i>
      </li>
    </a>
    {%- endif -%}
  </ul>
  {%- endif -%}
  {%- if site.linguica.navigation -%}
  <nav class="navigation about-footer {{condensed_class}}">
    <ul>
      {% for link in site.linguica.navigation %}
      <li>
        <a href="{{ link.url }}">{{ link.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
  {%- endif -%}
  <p class="about-footer {{condensed_class}}">&copy;
    {{ "now" | date: "%Y" }}</p>
  {%- if site.linguica.dark_mode -%}
  <div class="about-footer {{condensed_class}}">
    <p>Dark Mode
      <i class="icon-moon"></i>
      <label class="switch">
        <input type="checkbox" class="dark-mode-toggle">
        <span class="slider round" onclick="toggleDarkMode()"></span>
      </label>
    </p>
  </div>
  {%- endif -%}
  {% endcapture %}
  {{ footer }}
</section>
