{% assign date_format = site.linguica.date_format | default: '%b %-d, %Y' %}
<article class="post-vertical-card">
  <a class="post-vertical-card__link" href="{{ post.url | relative_url }}">
    <time class="post-vertical-card__date" datetime="{{ post.date | date: '%Y-%m-%d' }}">
      {{ post.date | date: date_format }}
    </time>
    <div class="post-title-box">
      <h2 class="post-vertical-card__title">{{ post.title | escape }}</h2>
    </div>
    {% if post.image %}
      <div class="post-vertical-card__image-wrapper">
        <img
          class="post-vertical-card__image"
          src="{{ site.baseurl }}/{{ post.image }}"
          alt="{{ post.title | escape }}"
          loading="lazy"
        >
      </div>
    {% endif %}
  </a>
  <p class="post-vertical-card__author">
    by
    <i class="icon-user" aria-hidden="true"></i>
    {{ post.author | default: site.linguica.name }}
  </p>
  {% if site.show_excerpts and post.excerpt %}
    <div class="post-vertical-card__excerpt">
      {{ post.excerpt }}
    </div>
  {% endif %}
  <a class="post-vertical-card__read-more" href="{{ post.url | relative_url }}"> Read Article → </a>
</article>
