<ul class="socials-list">
  {%- if site.linguica.social_links.github -%}
    <li>
      <a href="https://github.com/{{ site.linguica.social_links.github }}" target="_blank" aria-label="GitHub"
        ><i
          class="icon-github-circled"
        ></i
      ></a>
    </li>
  {%- endif -%}
  {%- if site.linguica.social_links.gitlab -%}
    <li>
      <a href="https://gitlab.com/{{ site.linguica.social_links.gitlab }}" target="_blank" aria-label="GitLab"
        ><i
          class="icon-gitlab"
        ></i
      ></a>
    </li>
  {%- endif -%}
  {%- if site.linguica.social_links.linkedIn -%}
    <li>
      <a
        href="https://www.linkedin.com/{{ site.linguica.social_links.linkedIn }}"
        target="_blank"
        aria-label="LinkedIn"
        ><i class="icon-linkedin-squared"></i
      ></a>
    </li>
  {%- endif -%}
  {%- if site.linguica.social_links.twitter -%}
    <li>
      <a href="https://twitter.com/{{ site.linguica.social_links.twitter }}" target="_blank" aria-label="Twitter"
        ><i
          class="icon-twitter-squared"
        ></i
      ></a>
    </li>
  {%- endif -%}
  {%- if site.linguica.social_links.instagram -%}
    <li>
      <a
        href="https://instagram.com/{{ site.linguica.social_links.instagram }}"
        target="_blank"
        aria-label="Instagram"
        ><i class="icon-instagram"></i
      ></a>
    </li>
  {%- endif -%}
  {%- if site.linguica.social_links.facebook -%}
    <li>
      <a
        href="https://facebook.com/{{ site.linguica.social_links.facebook }}"
        target="_blank"
        aria-label="Facebook"
        ><i class="icon-facebook-squared"></i
      ></a>
    </li>
  {%- endif -%}
  {%- if site.linguica.social_links.youtube -%}
    <li>
      <a href="https://youtube.com/{{ site.linguica.social_links.youtube }}" target="_blank" aria-label="YouTube"
        ><i
          class="icon-youtube"
        ></i
      ></a>
    </li>
  {%- endif -%}
  {%- if site.linguica.social_links.pinterest -%}
    <li>
      <a
        href="https://pinterest.com/{{ site.linguica.social_links.pinterest }}"
        target="_blank"
        aria-label="Pinterest"
        ><i class="icon-pinterest-squared"></i
      ></a>
    </li>
  {%- endif -%}
  {%- if site.linguica.social_links.dribbble -%}
    <li>
      <a
        href="https://dribbble.com/{{ site.linguica.social_links.dribbble }}"
        target="_blank"
        aria-label="Dribbble"
        ><i class="icon-dribbble"></i
      ></a>
    </li>
  {%- endif -%}
  {%- if site.linguica.social_links.flickr -%}
    <li>
      <a href="https://flickr.com/{{ site.linguica.social_links.flickr }}" target="_blank" aria-label="Flickr"
        ><i
          class="icon-flickr"
        ></i
      ></a>
    </li>
  {%- endif -%}
  {%- if site.linguica.social_links.telegram -%}
    <li>
      <a href="https://t.me/{{ site.linguica.social_links.telegram }}" target="_blank" aria-label="Telegram"
        ><i
          class="icon-telegram"
        ></i
      ></a>
    </li>
  {%- endif -%}
  {%- if site.linguica.social_links.soundcloud -%}
    <li>
      <a
        href="https://soundcloud.com/{{ site.linguica.social_links.soundcloud }}"
        target="_blank"
        aria-label="SoundCloud"
        ><i class="icon-soundcloud"></i
      ></a>
    </li>
  {%- endif -%}
  {%- if site.linguica.social_links.email -%}
    <li>
      <a href="mailto:{{ site.linguica.social_links.email }}" target="_blank" aria-label="Email"
        ><i
          class="icon-mail-alt"
        ></i
      ></a>
    </li>
  {%- endif -%}
  {%- if site.linguica.social_links.stackoverflow -%}
    <li>
      <a
        href="https://stackoverflow.com/users/{{ site.linguica.social_links.stackoverflow }}"
        target="_blank"
        aria-label="Stack Overflow"
        ><i class="icon-stack-overflow"></i
      ></a>
    </li>
  {%- endif -%}
</ul>
